# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# OS files
.DS_Store
*.swp
*~

# IDE
*.xcworkspacedata
!default.xcworkspacedata
!SAYses.xcworkspace/contents.xcworkspacedata
